@charset "UTF-8";
/**
 * default.css
 * @authors Joe Jiang (hijiangtao@gmail.com)
 * @date    2017-04-07 11:32:35
 * @version $Id$
 */

body {
	margin: 0;
	padding: 0;
	background-color: white; 
}

div {
	position: absolute;
	margin: 1rem;
	height: calc(100vh - 2rem);
}

#chart {
	/*left: 50%;
	top: 50%;
	transform: translate(-400px, -300px);
	width: 800px;
	height: 600px;*/

	width: calc(80% - 2rem);
}
#panel {
	left: 80%;
	width: calc(20% - 2rem);
}

#forcedLayoutView, #forcedLayoutCView {
	/*display: none;*/
}